*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    text-decoration: none;
    /* border: none; */
}
h1{
    display: flex;
    color: #03264f;
}
nav{
    height: 3rem;
    display: flex;
    background: rgb(46, 50, 48);
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem;
    
}
nav a{
    color: #e3760a;
    font-family: serif;
    font-size: large;
}
table tr td,
table tr th{
    color: #000;
}

 


