*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
}

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    position: absolute;
    width: 100%;
    
 }
  h1{
    color: #fff;

  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem;
    
}
nav a{
    color: #fff;
    font-family: serif;
    font-size: large;
}
nav > a:hover{
  border-bottom:3px solid coral;
}
.hm{
  color: coral;
  border-bottom:3px solid coral;

}
  section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
    background: #170e0e;
  }
   
  #home{
    box-shadow: 0 0 100px black inset;

  }
  .pb{
    background: transparent;
    border: none;
  }
  .pb1{
    background: transparent;
    border: none;
    color: greenyellow;
  }
   
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 50rem;
    
  }
  .form_container{
    display: flex;
    gap: 2rem;
    
  }

  .form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid hwb(0 84% 12%);
    padding: 2rem 2rem;
    border-radius: 1rem;
  }

  .font .first{
    display: flex;
    width: 100%;
    gap: 1.5rem;
  }
  .form form input,
  .form form textarea{
    margin: 5px 5px;
    width:100%;
    border-radius: 1rem;
    background: #373535;
    resize: none;
    border: none;
  }

  .contact_container{
    color: #fff;
    gap: 5rem;
    padding:2rem 2rem;
  }

  .content{
    display: flex;
    align-items: center;
    color: rgb(54,201,54);
  }

  .player{
    transform: translateY(-10rem);
    display: flex;
    align-items: center;
    align-content: center;
    color: #fff;
  }

  .player i:nth-child(1){
    font-size: 4rem;
  }

  .play input[type="range"]{
    width: 60rem;
    height: 0.2rem;
  }

  .box{
    display: flex;
    align-items: center;
    background:#1a1a1a;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-right: .5rem;
  }
  

  .box_content{
    display: flex;
    font-display: column;
    gap:1rem;
    margin-left: 1rem;

  }

  .box_item h1{
    font-size: 2.8rem;
}

.box_items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.box_items h3,
.box_items p{
    color: #010101;
}
.box img{
    width: 20rem;
}

.cards{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill,48.3%);
    grid-gap: 2.5rem;
}

.card-item{
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
}

.card_content{
    color: #fff;
    overflow: hidden;
    padding: 1rem 2rem;
}

.card_content img{
    width: 100%;
}

.about{
    background: #1a1a1a;
    margin-top: 3rem;
    text-align: center;
    color: #fff;
}
.mail form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

form input{
    width: 30rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    background: #282828;
}

form button{
    width: 15rem;
    border: none;
    background: rgb(54,201,54);
    font-size: 2rem;
}

form button i{
    color: #fff;
}

.main{
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 2rem 9%;
}

.main{
  color:#fff;
}

.ab ul{
  list-style: none;
}
.ab a{
 color: #fff;
}

.div3 i{
font-size: 2rem;
color: #fff;
}

#menu_icon{
  color: #fff;
  font-size: 2rem;
  display: none;
}

#music_player{
  padding: 1.5rem 3rem;
  position: fixed;
  bottom: 0;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.mini_player{
  position: fixed;
  background: #e50606;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 20rem;
  transform: translateY(100%);
  transition: 0.8s;
}
 .active{
  transform: translateY(0);
 }
 .mini_player .control i {
  color: #fff;
  font-size: 3rem;
 }

 @media(max-width:1080px) {
  html{
    font-size: 80%;
  }
  header nav{
    display: none;
  }
  #menu_icon{
    display: flex;
  }
  .player{
    display: none;
  }
  #music_player{
    display: block;
  }
 }

 @media(max_width:768px){
  html{
    font-size: 70%;
  }
 }
 #mini_player{
  width: 100%;
    border: none;
    background: rgb(54,201,54);
    font-size: 2rem;

 }
 .pera{
  width: 100%;
  height: 100%;
  color: #fff;
  /* margin-top: 7rem; */
  font-family:sans-serif;
  border:solid #66e3fa ;
  border-radius: 50%;
  padding: 2rem;
  line-height: 3rem;
 }
 .play{
  display: flex;
  align-items: center;
  
 }
 

  
